/**************************************/
/* @author Víctor Julio Sánchez Pollo */
/* @Version 25/09/2021                */
/**************************************/

/*============== Header ==============*/

/*---------- Dropdown menu -----------*/

#info_menu .header,
#credits_menu .header {
  color: rgb(84,80,150);
}

#credits_menu img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.credit_text {
  display: inline-block;
  font-size: 12px;
  vertical-align: middle;
}



/*============== Sidebar ==============*/

/*----------- Inputs style -----------*/

/* General style */
.sidebar_conditional_panel {
  background-color: rgb(44, 59, 65);
}

.sidebar_conditional_panel:hover {
  overflow: visible;
}

.sidebar .sidebar-menu .shiny-input-container {
  margin-bottom: 0;
  padding: 2px 15px;
}

/* Panel animation */
.top_to_bottom {
  max-height: 500px;
  -webkit-animation: topToBottom linear 1s;
  -moz-animation: topToBottom linear 1s;
  -o-animation: topToBottom linear 1s;
  -ms-animation: topToBottom linear 1s;
  animation: topToBottom linear 1s;
}

@-webkit-keyframes topToBottom {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 500px;
  }
}

@-moz-keyframes topToBottom {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 500px;
  }
}

@-o-keyframes topToBottom {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 500px;
  }
}

@keyframes topToBottom {
  0% {
    max-height: 0;
  }
  100% {
    max-height: 500px;
  }
}

/* Overwritten sliders style */
.irs--shiny .irs-bar,
.irs--shiny .irs-line {
  height: 4px;
}

.irs--shiny .irs-handle {
  top: 20px;
  width: 12px;
  height: 12px;
}

/* Overwritten picker style */
.form-control {
  border-radius: 4px;
}

.sidebar .sidebar-menu .active {
  background-color: transparent;
}

.sidebar .sidebar-menu .active:hover {
  background-color: rgb(225, 227, 233);
}

.sidebar .sidebar-menu .active .check-mark {
  position: absolute;
  display: inline-block;
  top: 5px;
  right: 15px;
}

.sidebar .sidebar-menu .dropdown a {
  overflow: visible;
  color: rgb(30, 30, 30);
}

.sidebar .sidebar-menu .selected a {
  color: rgb(66, 139, 202);
}

.sidebar .sidebar-menu .dropdown-menu {
  bottom: auto;
}

.ui-tooltip-content {
  display: none;
}


/*-------------- Legend --------------*/

#legend_container .box-header {
  padding: 3px;
  background-color: rgb(96, 92, 168);
}

#legend_container .box-title {
  padding-left: 2px;
  color: white;
  font-size: 12px;
}

#legend_container .box-body {
  padding: 3px;
  font-size: 10px;
  text-align: center;
}

#legend_container .box-body p {
  margin: 0;
}



/*=============== Body ===============*/

/*----------- Main content -----------*/

.content {
  padding: 0;
}

.row {
  margin:0;
}

#map_outer, #trend_outer {
  position: relative;
  height: 100%;
  right: 0;
  left: 0;
  padding: 0;
}

#my_map {
  width: 100%;
  height: calc(100vh - 50px) !important;
}

/* For small screens */
@media (max-width: 767px) {
  #map_outer {
    position: absolute;
  }
  
  #my_map {
    height: 100% !important;
  }
}

/*--------------- Flags ---------------*/

.flagged_country {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}


/*-------- Indicator selector --------*/

#map_indicator_panel,  #trend_indicator_panel {
  position: relative;
  z-index: 10;
  top: 10px;
  left: 50%;
  width: 90%;
  font-family: Verdana;
  text-align: center;
  -webkit-transform: translateX(-40%);
  -moz-transform: translateX(-40%);
  -ms-transform: translateX(-40%);
  -o-transform: translateX(-40%);
  transform: translateX(-40%);
  cursor: move;
  opacity: 0.8;
}

.selectize-input > * {
  width: 90%;
}

#map_indicator_panel .selectize-dropdown [data-value="GEI"],
#trend_indicator_panel .selectize-dropdown [data-value="GEI"],
.gei_option {
  color: rgb(149, 75, 146);
  font-weight: bold;
  text-transform: uppercase;
}

#map_indicator_panel .selectize-dropdown [data-value^="D"],
#trend_indicator_panel .selectize-dropdown [data-value^="D"],
.domain_option {
  color: rgb(50, 50, 50);
  color: rgba(50, 50, 50, 0.9);
  font-weight: bold;
  text-transform: uppercase;
}

#map_indicator_panel .selectize-dropdown [data-value^="S"],
#trend_indicator_panel .selectize-dropdown [data-value^="S"],
.subdomain_option {
  color: rgb(40, 40, 40);
  color: rgba(40, 40, 40, 0.9);
  font-weight: bold;
}

#map_indicator_panel .selectize-dropdown [data-value^="I"],
#trend_indicator_panel .selectize-dropdown [data-value^="I"],
.indicator_option {
  color: rgb(30, 30, 30);
  color: rgba(30, 30, 30, 0.9);
}


/*---------- Domains buttons ---------*/

.domains_buttons_container {
  margin: 0 15px;
}

.domains_buttons_container .shiny-input-radiogroup {
  margin: 0;
}

.domains_buttons_container .btn {
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
  border: none;
}

.domains_buttons_container .btn:focus,
.domains_buttons_container .btn:hover,
.domains_buttons_container .active,
.domains_buttons_container .active:focus,
.domains_buttons_container .active:hover {
  color: white;
  box-shadow: none;
}

.work_button {
  background-color: rgb(74, 174, 201);
  background-color: rgba(74, 174, 201, 0.2);
}

.work_button.active,
.work_button:hover,
.work_button:focus {
  background-color: rgb(52, 150, 176) !important
}

.money_button {
  background-color: rgb(255, 184, 21);
  background-color: rgba(255, 184, 21, 0.2);
}

.money_button.active,
.money_button:hover,
.money_button:focus {
  background-color: rgb(230, 160, 0) !important
}

.knowledge_button {
  background-color: rgb(117, 174, 130);
  background-color: rgba(117, 174, 130, 0.2);
}

.knowledge_button.active,
.knowledge_button:hover,
.knowledge_button:focus {
  background-color: rgb(91, 155, 105) !important
}

.time_button {
  background-color: rgb(231, 139, 105);
  background-color: rgba(231, 139, 105, 0.2);
}

.time_button.active,
.time_button:hover,
.time_button:focus {
  background-color: rgb(225, 108, 66) !important
}

.power_button {
  background-color: rgb(238, 123, 120);
  background-color: rgba(238, 123, 120, 0.2);
}

.power_button.active,
.power_button:hover,
.power_button:focus {
  background-color: rgb(232, 83, 79) !important
}

.health_button {
  background-color: rgb(205, 148, 172);
  background-color: rgba(205, 148, 172, 0.2);
}

.health_button.active,
.health_button:hover,
.health_button:focus {
  background-color: rgb(190, 117, 148) !important
}


/*--------- Map graphs panel ---------*/

#map_graphs {
  overflow-y: auto;
  min-width: 250px;
  max-height: calc(100% - 100px);
  margin: 0 5px;
  padding: 3px 0;
  background-color: white;
  opacity: 0.8;
}

#eu_value_container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
}

#eu_button {
  padding: 2px 3px 0 3px;
  background: none;
  border: none;
}

#eu_html_value {
  margin: auto 0;
  font-weight: 600;
}

.ranking {
  padding: 0 5px;
  font-size: 11px;
}

.rank_title {
  font-size: 12px;
  text-align: center;
}

#ranking_container table th {
  display: none;
}

#ranking_container table td {
  padding: 3px;
}

#country_html_value {
  text-align: center;
}

#country_html_title {
  display: inline-block;
  margin-top: 6px;
  font-size: 14px;
  text-align: center;
}

#country_html_subtitle {
  display: block;
  margin-top: 3px;
  font-size: 12px;
  text-align: center;
}

#metrics_charts_container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  justify-content: center;
  padding: 2px;
}


/*-------- Trend and data tabs --------*/

.tabs_row {
  margin: 10px;
}

.tabs_row .nav-tabs>li.active>a,
.tabs_row .nav-tabs>li.active>a:focus,
.tabs_row .nav-tabs>li.active>a:hover {
  color: rgb(149, 75, 146);
  border: 1px solid rgb(96, 92, 168);
  border-bottom-color: transparent;
}

.tabs_row .nav>li>a:active,
.tabs_row .nav>li>a:focus,
.tabs_row .nav>li>a:hover {
  color: rgb(149, 75, 146);
  color: rgba(149, 75, 146, 0.8);
}

.tabs_row .nav-tabs {
  border-bottom: 1px solid rgb(96, 92, 168);
}


/*----------- Trend tables -----------*/

/* Flags */
.ReactTable .flag {
  height: 20px;
  margin-right: 5px;
}

/* Scores */
.table_score {
  width: 50px;
  align-self: center;
  color: rgb(0, 0, 0);
  font-size: 13px;
  text-align: center;
  border: 1px solid rgb(0, 0, 0);
  border: 1px solid rgba(0, 0, 0, 0.03);
  border-radius: 30px;
  opacity: 0.8;
}

/* Variations */
.table_var {
  font-size: 14px;
}


/*---- Country explorer container ----*/

#country_explorer_box_container .box {
  margin: 10px 0;
  border: 1px solid;
  border-radius: 4px;
}

#country_html_name {
  display: flex;
  margin-bottom: 10px;
  font-size: 18px;
}

#country_html_name .flagged_country {
  margin: 0 auto;
}

/* Flags */
#country_explorer_box_container .flag {
  height: 30px;
  margin-right: 5px;
}

#country_domain_html_title {
  text-align: center;
}

#domain_html_title {
  display: block;
  margin-top: 6px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

#year_html_subtitle {
  display: block;
  margin-top: 3px;
  font-size: 16px;
  font-weight: bold;
}

#country_domain_chart {
  margin: 15px 0;
}

#country_domain_ranking_text {
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

#country_domain_html_detail {
  max-height: 240px;
  overflow-y: auto;
}

#country_domain_html_detail ul {
  position: relative;
  padding-left: 10px;
  font-size: 12px;
  text-align: justify;
}

#country_domain_html_detail li {
  list-style: none;
}

#country_domain_html_detail li::before {
  position: absolute;
  left: 0;
  content: "\00BB";
}

#country_name_detail {
  font-size: 14px;
}

#country_trend_table {
  margin-top: 30px;
}

#country_trend_table .ReactTable {
  max-height: 350px;
}


/*----------- GEI comparator ----------*/

#gei_comparator_container .box {
  margin: 10px 0;
  border: 1px solid rgb(149, 75, 146);
  border-radius: 4px;
}

.country_comparator_panel {
  padding: 11px 15px;
  text-align: center;
}

#first_country_panel .selectize-input,
#first_country_panel .selectize-dropdown {
  border-color: rgb(0, 74, 153);
}

#second_country_panel .selectize-input,
#second_country_panel .selectize-dropdown {
  border-color: rgb(206, 153, 0);
}


/*--------- Domain comparator --------*/

#domain_comparator_container .box {
  margin: 10px 0;
  border: 1px solid;
  border-radius: 4px;
}

#domain_charts_panel {
  padding: 10px 0;
}

#domain_diff_html_value {
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

#subdomain_html_name {
  font-size: 14px;
  font-weight: bold;
  text-align: center;
}

#subdomain_charts_container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: auto;
  justify-content: center;
  padding: 2px;
}

#subdomain_diff_html_value {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
}

#subdomain_diff_html_value div {
  width: max-content;
}

#comp_indicators_table .-header {
  display: none;
}

.comp_indicators_table_score {
  position: relative;
  width: 50px;
  text-align: center;
  border: 1px solid;
  border-radius: 30px;
}


/*---------- Download panel ----------*/

#download_panel {
  position: relative;
  top: 10px;
  left: 50%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(-140px);
  -moz-transform: translateX(-140px);
  -ms-transform: translateX(-140px);
  -o-transform: translateX(-140px);
  transform: translateX(-140px);
}

#download_type {
  margin-bottom: 5px;
}

#download_type .btn {
  width: 70px;
  color: rgb(60, 141, 188);
  background-color: transparent;
}

#download_type .btn:focus,
#download_type .btn:hover {
  color: rgb(149, 75, 146);
  color: rgba(149, 75, 146, 0.8);
  background-color: rgb(247,247,247);
}

#download_type .active,
#download_type .active:focus,
#download_type .active:hover {
  color: rgb(149, 75, 146);
  border: 1px solid rgb(96, 92, 168);
  background-color: rgb(255,255,255);
  box-shadow: none;
}

#download_data {
  width: 140px;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 5px;
  color: rgb(255,255,255);
  background-color: rgb(96, 92, 168);
}

#download_data:focus,
#download_data:hover {
  background-color: rgb(84,80,150);
}

/* For tiny screens */
@media (max-width: 280px) {
  #download_panel {
    position: relative;
    top: 10px;
    left: 50%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    -webkit-transform: translateX(-70px);
    -moz-transform: translateX(-70px);
    -ms-transform: translateX(-70px);
    -o-transform: translateX(-70px);
    transform: translateX(-70px);
  }
  
  #download_panel > div {
    margin: 0;
  }
}

/*------------- GEI info -------------*/

#gei_info_container .box {
  margin: 10px 0;
  border: 1px solid rgb(149, 75, 146);
  border-radius: 4px;
}

#gei_info_html_text {
  font-size: 14px;
  text-align: justify;
}

#gei_info_image {
  float: left;
  width: 30%;
  min-width: 150px;
  margin-right: 5px;
}

#gei_info_name {
  color: rgb(149, 75, 146);
  font-weight: bold;
  text-transform: uppercase;
}

#value_boxes_section {
  display: grid;
  margin: 10px 0 0 0;
  text-align: center;
}

#value_boxes_section > div {
  padding: 0 5px;
}

#value_boxes_section .box {
  margin: 0 0 10px 0;
  color: rgb(255, 255, 255);
  background-color: rgb(96, 92, 168);
  border: none;
}

#value_boxes_section .box-body {
    padding: 2px;
  }

.box_value {
  margin: 0;
  font-size: 18px;
}

.box_subtitle {
  margin: 0;
  font-size: 14px;
}

/* For small screens */
@media (max-width: 767px) {
  #value_boxes_section {
    display: flex;
    width: 100%;
    margin: 10px 0;
    padding: 0 15px;
  }
  
  #value_boxes_section > div {
    width: calc(100% / 4);
    margin: 0;
    padding: 0 2px;
  }
  
  #value_boxes_section .box {
    margin: 0;
  }
  
  #value_boxes_section .box-body {
    padding: 5px;
  }
}

/* For smaller screens */
@media (max-width: 360px) {
  #gei_info_image {
    width: 100%;
    margin-right: 0;
  }
  
  #value_boxes_section {
    flex-wrap: wrap;
  }
  
  #value_boxes_section > div {
    width: 100%;
    margin: 0;
    padding: 2px 0;
  }
}

/*------------ Domain info ------------*/

#domain_info_container .box {
  margin: 10px 0;
  border: 1px solid;
  border-radius: 4px;
}

#domain_info_html_text {
  font-size: 14px;
  text-align: justify;
}

.domain_info_name {
  font-weight: bold;
  text-transform: uppercase;
}

#domain_info_section .form-group {
  margin: 15px 0;
  text-align: center;
}

#info_subdomain > div {
  width: 100%;
}

#info_subdomain .btn {
  overflow: hidden;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  background: transparent;
  border: 1px dashed;
  border-radius: 5px;
  box-shadow: none;
}